asteroids/
extras/
fermat/
gauss/
leibniz/
publications/
riemann/
sde/
weekly/
script.sh
z
kepler/.htaccess
kepler/harmony/
kepler/harmony-old/
kepler/astronomianova/
kepler/newastronomy/ch24.mov
.DS_Store
**/.DS_Store